:root{
    --main-text:#1D2974;
    --black-text:#000;
}


/* common */



/* header */

header{
    background: #fff;
    width: 100%;
    height: 138px;
}

.header_wrapper{
    max-width: 1680px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_wrapper .nav_list{
    display: flex;
}

/* main_banner */