:root{
    --main-text:#1D2974;
    --black-text:#000;
}


/* common */

body{
    font-family: 'pretendard',sans-serif ;
}

/* font */
@font-face {
    font-family: pretendard;
    src: url('/font/Pretendard-Regular.woff2') format('woff2'),
    url('/font/Pretendard-Regular.woff') format('woff'),
    url('/font/Pretendard-Regular.ttf') format('ttf'),
    url('/font/Pretendard-Regular.otf') format('otf');
    font-weight: 400;
}

@font-face {
    font-family: pretendard;
    src: url('/font/Pretendard-Medium.woff2') format('woff2'),
    url('/font/Pretendard-Medium.woff') format('woff'),
    url('/font/Pretendard-Medium.ttf') format('ttf'),
    url('/font/Pretendard-Medium.otf') format('otf');
    font-weight: 500;
}

@font-face {
    font-family: pretendard;
    src: url('/font/Pretendard-Bold.woff2') format('woff2'),
    url('/font/Pretendard-Bold.woff') format('woff'),
    url('/font/Pretendard-Bold.ttf') format('ttf'),
    url('/font/Pretendard-Bold.otf') format('otf');
    font-weight: 700;
}



/* header */

header{
    background: #fff;
    width: 100%;
    height: 138px;
    padding: 28px 0;
    box-sizing: border-box;
}

.header_wrapper{
    max-width: 1680px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_wrapper .nav_list{
    display: flex;
}

.header_wrapper .nav_list li{
    padding: 0 50px;
}

.header_wrapper .nav_list li a{
    font-size: 25px;
    font-weight: 500;
    line-height: 0.03em;
    text-decoration: none;
    color:var(--black-text);
}

.header_en{display: flex; align-items: center;}

/* main_banner */